<title>{$item->title}</title>
<id n:if="$item->id">{$item->id}</id>
<link rel="self" href="{$item->link}"></link>
<summary n:if="$item->summary">{$item->summary}</summary>
<updated>{$item->updated}</updated>
